# Build
build/
cmake-build-*/
*.o
*.obj
*.exe
*.out
*.ll
*.bc
*.s
*.wasm

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Misc
*.ppm
*.pgm
*.png
*.gif
*.log
compile_commands.json

# Ketamine generated
*.go_out.kt
*.ll_out.kt
